.mainWrapper{
    height: 75vh;
    display: flex;
    width: 100%;
    align-items: center;
}
.subHeading{
    font-size: 2rem;
    font-weight: 500;
    color: var(--global-primary-color-two);
}
.name{
    color: var(--global-primary-color-one);
    font-size: 3.1rem;
    line-height: 4rem;
    font-weight: 600;
    max-width: fit-content;
}
.position{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--global-primary-color-two);
}
.slideDown {
    animation-name: slideDownAnimation;
    animation-duration: 0.8s; /* Adjust duration as needed */
}

@keyframes slideDownAnimation {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.typing {
    overflow: hidden;
    border-right: 2px solid #135D66; /* Adjust cursor color */
    white-space: nowrap;
    margin: 0;
    padding: 0;
    animation: typingAnimation 3s steps(40, end), blink-caret 0.75s step-end ;
}

@keyframes typingAnimation {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #135D66; } /* Adjust cursor color */
}


.info{
    color: grey;
    font-size: 1.1rem;
    margin-top: 0.6rem;
}
.buttonWrapper{
    display: flex;
    gap:0.6rem;
    margin-top: 4rem;
}
.image{
    display: none;
}
@media screen and (min-width: 1024px){
    .mainWrapper{
        height: 80vh;
        padding-top: unset;
        display: flex;
        gap: 2rem;
        padding-right: 2rem;
    }
    .mainWrapper>:first-child{
        flex: 1;
        flex-shrink: 0;
        width: 50%;
    }
    .mainWrapper>:nth-child(2){
        flex: 1;
        flex-shrink: 0;
        width: 50%;
    }
    .subHeading{
        font-size: 1.2rem;
        padding-left: 0.3rem;
    }
    .name{
        font-size: 3rem;
        margin: 0;
        padding: 0;
        line-height: 3.6rem;
        font-weight: 600;
    }
    .position{
        font-size: 1.3rem;
        line-height: 3rem;
    }
    .info{
        font-size: 0.9rem;
        margin-top: unset;
    }
    .buttonWrapper{
        gap: 0.6rem;
        padding-top: 1rem;
    }
    .image{
        position: relative;
        display: block;
        width: 80%;
        height: 100%;
    }
}

@media screen and (min-width: 1441px) {
    .mainWrapper{
        padding-right: unset;
        height: 70vh;
    }
}