.mainWrapper{
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    background-color: var(--global-primary-color-three);
    padding: 0.5rem 0;
    align-items: center;
}
.mainWrapper>p{
    color: #fff;
    font-size: 0.8rem;
}

@media screen and (min-width: 1024px) {
    .mainWrapper{
        padding: 0.6rem;
        margin-top: 5rem;
    }
    .mainWrapper>p{
        font-size: 0.7rem;
    }
}